.userList{
    background-color:springgreen;
    width: 20vw;
    height: 70vh;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}
.userListHeader{
    display: flex;
    justify-content: center;
}

.nestedComponents{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    
}