<div class="userDetailComponent">
    <p>id: {{utenti[0].id}}</p>
    <p>Name: {{utenti[0].name}}</p>
    <p>Surname: {{utenti[0].surname}}</p>
    <p>Age: {{utenti[0].age}}</p>
    <p>Date of birth: {{utenti[0].dateOfBirth | date: 'dd MMM, yyyy'}}</p>
    <p><b>Address:</b></p>
    <p>City: {{utenti[0].address.city}}</p>
    <p>Street: {{utenti[0].address.street}}</p>
    <p>PostalCode: {{utenti[0].address.postalCode}}</p>
    <p>Role: {{utenti[0].role}}</p>
    <p>Username: {{utenti[0].username}}</p>
    <img [src]="utenti[0].profilePhotoUrl" height="50" alt="gatto che dorme">
    <p>Gender: {{utenti[0].gender}}</p>
    <p><b>Company: {{utenti[0].companies[0].name}}</b></p>
    <p>Description: {{utenti[0].companies[0].description}}</p>
    <p><b>Company: {{utenti[0].companies[1].name}}</b></p>
    <p>Description: {{utenti[0].companies[1].description}}</p>
</div>

